@font-face {
  font-weight: normal;
  font-family: "Stem";
  font-style: normal;
  src: url("../fonts/Stem-Light.woff2") format("woff2"), url("../fonts/Stem-Light.woff") format("woff");
}
@font-face {
  font-weight: normal;
  font-family: "Stem";
  font-style: normal;
  src: url("../fonts/Stem-Regular.woff2") format("woff2"), url("../fonts/Stem-Regular.woff") format("woff");
}
@font-face {
  font-weight: normal;
  font-family: "Stem";
  font-style: normal;
  src: url("../fonts/Stem-Medium.woff2") format("woff2"), url("../fonts/Stem-Medium.woff") format("woff");
}
@font-face {
  font-weight: normal;
  font-family: "Stem";
  font-style: normal;
  src: url("../fonts/Stem-Bold.woff2") format("woff2"), url("../fonts/Stem-Bold.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 27px;
  font-family: "Stem-Regular", "Arial", sans-serif;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  background-color: #292929;
}



img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  width: 272px;
  height: 64px;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #ffffff;
  background-color: #1E5DC5;
  border: none;
  border-radius: 4px;
  margin-right: 20px;
}

.button_two {
  background-color: #00D2A0;
}

  

h2 span {
    color: #1E5DC5;;
}

  /* Page-header */
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}


.site__list a {
  color: #ffffff;
  text-decoration: none;
}

.intro {
  padding: 125px 0 129px 0;
  background-image: url(../img/intro-bg-01.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
}

.intro__wrapper {
  max-width: 1262px;
  padding: 0 15px;
  margin: 0 auto;
}

.intro__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 110%;
  text-shadow: 0px 4px 34px #001650;
  margin: 0;
  margin-bottom: 30px;

}

.intro__subtitle {
  font-size: 22px;
  line-height: 150%;
  margin: 0;
  margin-bottom: 30px;
}



.advantages {
  padding: 122px 0 133px 0;
}

.advantages__wrapper {
  max-width: 1262px;
  margin: 0 auto;
}
.advantages__title {
  font-weight: normal;
  font-size: 45px;
  line-height: 58px;
  text-align: center;
  margin: 0;
  margin-bottom: 24px;
}
.advantages__subtitle {
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.6;
  margin: 0;
  margin-bottom: 64px;
  
}

.advantages__list {
  
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  flex-basis: 600px;
  padding-top: 93px;
  margin-bottom: 32px;
}

.advantages__item-time {
  background: url(../img/advtg-ico-01.svg) no-repeat 0 0;
}
.advantages__item-save {
  background: url(../img/advtg-ico-02.svg) no-repeat 0 0;
}
.advantages__item-price {
  background: url(../img/advtg-ico-03.svg) no-repeat 0 0;
}
.advantages__item-answers {
  background: url(../img/advtg-ico-04.svg) no-repeat 0 0;
}
.advantages__item-service {
  background: url(../img/advtg-ico-05.svg) no-repeat 0 0;
}
.advantages__item-contact {
  background: url(../img/advtg-ico-06.svg) no-repeat 0 0;
}

.advantages__item-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 12px;
}
.advantages__item-desc {
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  opacity: 0.7;
  margin: 0;
}

.workflow {
  padding-top: 100px;
  background-color: #fff;
}
.workflow__wrapper {
  max-width: 1262px;
  padding: 0 15px;
  margin: 0 auto;
}

.workflow__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.workflow__title {
  font-weight: normal;
  font-size: 45px;
  line-height: 58px;
  text-align: center;
  color: #000000;
  margin: 0;
  margin-bottom: 24px;
}

.workflow__subtitle {
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  opacity: 0.5;
  margin: 0;
  margin-bottom: 77px;
}

.workflow__item-title {
  font-weight: 700;
  font-size: 31px;
  line-height: 40px;
  color: #1E5DC5;
  margin: 0;
  margin-bottom: 18px;
}

.workflow__item-subtitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  margin-bottom: 18px;
}

.workflow__item-desc {
  font-weight: 300;
  font-size: 19px;
  line-height: 25px;
  color: #000000;
  opacity: 0.7;
}