@charset "UTF-8";
@font-face {
  font-family: 'Stem';
  src: url("../fonts/Stem-Light.woff2") format("woff2"), url("../fonts/Stem-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Stem';
  src: url("../fonts/Stem-Regular.woff2") format("woff2"), url("../fonts/Stem-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stem';
  src: url("../fonts/Stem-Medium.woff2") format("woff2"), url("../fonts/Stem-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Stem';
  src: url("../fonts/Stem-Bold.woff2") format("woff2"), url("../fonts/Stem-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 27px;
  font-family: "Stem-Regular", "Arial", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: normal;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  position: relative;
  font-family: "Stem";
  font-weight: normal;
  font-size: 45px;
  line-height: 58px;
  color: #000000;
  margin: 0;
}

.button {
  width: 272px;
  height: 64px;
  font-family: "Stem";
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #ffffff;
  background-color: #1E5DC5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover, .button:focus, .button:active {
  opacity: 0.7;
}

.button--two {
  background-color: #00D2A0;
}

/* Start blocks/hero */
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 550px;
  background-image: url(../img/intro-bg-01.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
}

.hero__wrapper {
  width: 1262px;
  padding: 0 30px;
}

.hero__title {
  font-family: "Stem";
  font-weight: bold;
  font-size: 48px;
  line-height: 110%;
  color: #ffffff;
  margin: 0;
  margin-bottom: 30px;
}

.hero__title-color {
  color: #217bff;
}

.hero__subtitle {
  font-family: "Stem";
  font-weight: normal;
  font-size: 22px;
  line-height: 150%;
  color: #ffffff;
  margin: 0;
  margin-bottom: 30px;
}

.hero__button {
  margin-right: 20px;
}

/* Correct blocks/hero */
.hero {
  background-image: url(../img/hero-bg-05.jpg);
}

.promo {
  background-color: #101010;
  min-height: 326px;
  text-align: center;
  padding: 71px 30px;
}

.promo__title {
  font-family: "Stem";
  font-weight: normal;
  font-size: 45px;
  line-height: 58px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 10px;
}

.promo__text {
  font-family: "Stem";
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  margin: 0;
}

.promo__value {
  display: block;
  font-family: "Stem";
  font-weight: 500;
  font-size: 65px;
  line-height: 150%;
  color: #1E5DC5;
}

.promo__value-sign {
  font-family: "Stem";
  font-weight: normal;
  font-size: 30px;
  line-height: 39px;
}

.saving {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ffffff;
}

.saving__wrapper {
  max-width: 1262px;
  margin: 0 auto;
}

.saving__title {
  font-family: "Stem";
  font-weight: normal;
  font-size: 45px;
  line-height: 58px;
  text-align: center;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}

.saving__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr;
  grid-column-gap: 22px;
}

.saving__item-title {
  font-family: "Stem";
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  color: #000000;
  margin: 0;
}

.saving__item-title-desc {
  font-family: "Stem";
  font-weight: 300;
  font-size: 16px;
  line-height: 170%;
  margin: 0;
}

.saving__item-text {
  font-family: "Stem";
  font-weight: 300;
  font-size: 18px;
  line-height: 190%;
  color: #000000;
  margin: 0;
}

.saving__bar {
  position: relative;
  width: 100%;
  height: 16px;
  background-color: #e7e7e7;
  border-radius: 4px;
}

.saving__bar::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 50%;
  height: 16px;
  border-radius: 4px;
  background-color: #1E5DC5;
}

.saving__bold {
  font-family: "Stem";
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;
  color: #1E5DC5;
}

.saving__bold-mod {
  color: #00D2A0;
}

.saving__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 192px 2fr;
      grid-template-columns: 192px 2fr;
  grid-column-gap: 22px;
  margin-bottom: 30px;
}

.saving__box-text {
  font-family: "Stem";
  font-weight: normal;
  font-size: 16px;
  line-height: 190%;
  color: #000000;
  margin: 0;
}

.saving__box-value {
  display: block;
  font-family: "Stem";
  font-weight: 500;
  font-size: 34px;
  line-height: 100%;
  color: #1E5DC5;
}

.saving__box-value-mod {
  color: #00D2A0;
}

.advisory {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #292929 url(../img/form-bg.jpg) no-repeat;
  background-position: center 0;
  background-size: cover;
}

.advisory__wrapper {
  max-width: 1292px;
  padding: 0 15px;
  margin: 0 auto;
}

.advisory__title {
  font-family: "Stem";
  font-weight: normal;
  font-size: 32px;
  line-height: 41px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 25px;
}

.advisory__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.advisory__item {
  width: 22%;
}

.advisory__item--answ {
  width: 30%;
}

.advisory__label {
  display: block;
  font-family: "Stem";
  font-weight: bold;
  font-size: 14px;
  line-height: 180%;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-bottom: 12px;
}

.advisory__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Stem";
  font-weight: normal;
  font-size: 16px;
  line-height: 180%;
  color: #ffffff;
  width: 100%;
  height: 64px;
  border: 0;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.1);
  /* при возможности заменить */
  -webkit-backdrop-filter: blur(42px);
          backdrop-filter: blur(42px);
  padding: 10px 30px;
}

.advisory__input::-webkit-input-placeholder {
  color: #BEBACA;
}

.advisory__input:-ms-input-placeholder {
  color: #BEBACA;
}

.advisory__input::-ms-input-placeholder {
  color: #BEBACA;
}

.advisory__input::placeholder {
  color: #BEBACA;
}

/* Start blocks/footer */
.page-footer {
  background-color: #101010;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #ffffff;
}

.page-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1262px;
  margin: 0 auto;
}

.page-footer__logo {
  display: block;
  margin-bottom: 16px;
}

.page-footer p {
  font-family: "Stem";
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  margin: 0;
  margin-bottom: 16px;
}

.footer-nav__box b {
  font-family: "Stem";
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}

.footer-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-nav__list a {
  font-family: "Stem";
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  text-decoration: none;
}

.footer-nav__list a:hover, .footer-nav__list a:focus, .footer-nav__list a:active {
  color: #217bff;
}
