@charset "UTF-8";
@font-face {
  font-family: 'Stem';
  src: url("../fonts/Stem-Light.woff2") format("woff2"), url("../fonts/Stem-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Stem';
  src: url("../fonts/Stem-Regular.woff2") format("woff2"), url("../fonts/Stem-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stem';
  src: url("../fonts/Stem-Medium.woff2") format("woff2"), url("../fonts/Stem-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Stem';
  src: url("../fonts/Stem-Bold.woff2") format("woff2"), url("../fonts/Stem-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 27px;
  font-family: "Stem-Regular", "Arial", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: normal;
  background-color: #ffffff;
}

.wrapper {
  max-width: 1292px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  position: relative;
  font-family: "Stem";
  font-weight: normal;
  font-size: 45px;
  line-height: 58px;
  margin: 0;
}

.prime-color {
  color: #1E5DC5;
}

.second-color {
  color: #00D2A0;
}

.dark-bg {
  background-color: #101010;
  color: #ffffff;
}

.button {
  width: 272px;
  height: 64px;
  font-family: "Stem";
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #ffffff;
  background-color: #1E5DC5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover, .button:focus, .button:active {
  opacity: 0.7;
}

.button--two {
  background-color: #00D2A0;
}

/* Start blocks/header */
.container {
  max-width: 1262px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  z-index: 2;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 71px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 3;
}

.header__logo img {
  display: block;
}

.header__burger {
  display: none;
}

.header__list {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__list > li {
  margin-left: 30px;
}

.header__list a {
  text-decoration: none;
  font-family: "Stem";
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  cursor: pointer;
}

.header__list a:hover,
.header__list a:focus .header__list a:active {
  color: #217bff;
}

.main-nav__item > a {
  display: block;
  width: auto;
}

.main-nav__item {
  position: relative;
}

.main-nav__sub-list {
  display: none;
  width: 240px;
  position: absolute;
  top: 44px;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__sub-list a {
  display: block;
  padding: 10px 20px;
  background-color: #1e1e1e;
  border-bottom: 1px solid #2f2f2f;
}

.drop-btn {
  padding-left: 24px;
}

.drop-btn::after,
.drop-btn::before {
  position: absolute;
  top: 9px;
  content: '';
  width: 10px;
  height: 1px;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.drop-btn::before {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  left: 0;
}

.drop-btn::after {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  left: 7px;
}

.drop-btn.active::before {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.drop-btn.active::after {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

@media (max-width: 1180px) {
  .header__burger {
    position: relative;
    z-index: 3;
    display: block;
    width: 30px;
    height: 20px;
  }
  .header__burger span {
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 9px;
    width: 100%;
    height: 2px;
    -webkit-transition: all 0.3s ease 0;
    transition: all 0.3s ease 0;
  }
  .header__burger::before, .header__burger::after {
    content: '';
    background-color: #ffffff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    -webkit-transition: all 0.3s ease 0;
    transition: all 0.3s ease 0;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #1e1e1e;
    padding: 70px 0px 0px 0px;
    display: none;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0 0 0 0;
  }
  .header__list a {
    font-family: "Stem";
    font-weight: 300;
    font-size: 18px;
    display: block;
    padding: 20px 20px 20px 30px;
    border-bottom: 1px solid #2f2f2f;
  }
  .main-nav__sub-list {
    width: auto;
    position: static;
  }
  .main-nav__sub-list a {
    background-color: #252525;
    padding-left: 50px;
  }
  .drop-btn::after,
  .drop-btn::before {
    top: 28px;
  }
  .drop-btn::before {
    left: 7px;
  }
  .drop-btn::after {
    left: 14px;
  }
}

.active {
  display: block;
}

/* Start blocks/hero */
.hero {
  margin-top: 71px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 550px;
  background-color: #101633;
  background-image: url(../img/hero-bg/index-hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
}

.hero__wrapper {
  width: 1262px;
  padding: 0 30px;
}

.hero__title {
  font-family: "Stem";
  font-weight: bold;
  font-size: 48px;
  line-height: 110%;
  color: #ffffff;
  margin: 0;
  margin-bottom: 30px;
}

.hero__title-color {
  color: #217bff;
}

.hero__subtitle {
  font-family: "Stem";
  font-weight: normal;
  font-size: 22px;
  line-height: 150%;
  color: #ffffff;
  margin: 0;
  margin-bottom: 30px;
}

.hero__button {
  margin-right: 20px;
}

.hero--warranty {
  background-image: url(../img/hero-bg/warranty-hero-bg.jpg);
}

.hero--ded {
  background-image: url(../img/hero-bg/ded-hero-bg.jpg);
}

.hero--mj {
  background-image: url(../img/hero-bg/mj-hero-bg.jpg);
}

.hero--pbf {
  background-image: url(../img/hero-bg/pbf-hero-bg.jpg);
}

.hero--bj {
  background-image: url(../img/hero-bg/bj-hero-bg.jpg);
}

.hero--me {
  background-image: url(../img/hero-bg/me-hero-bg.jpg);
}

.hero--vp {
  background-image: url(../img/hero-bg/vp-hero-bg.jpg);
}

.hero--material {
  background-image: url(../img/hero-bg/material-hero-bg.jpg);
}

.hero--function {
  background-image: url(../img/hero-bg/function-hero-bg.jpg);
}

.hero--appearance {
  background-image: url(../img/hero-bg/appearance-hero-bg.jpg);
}

.hero--client {
  background-image: url(../img/hero-bg/client-hero-bg.jpg);
}

.hero--parthner {
  background-image: url(../img/hero-bg/parthner-hero-bg.jpg);
}

.hero--knowbase {
  background-image: url(../img/hero-bg/knowbase-hero-bg.jpg);
}

.hero--engineer {
  background-image: url(../img/hero-bg/engineer-hero-bg.jpg);
}

.hero--api {
  background-image: url(../img/hero-bg/api-hero-bg.jpg);
}

.hero--student {
  background-image: url(../img/hero-bg/student-hero-bg.jpg);
}

.hero--legal {
  background-image: url(../img/hero-bg/legal-hero-bg.jpg);
}

/* Correct blocks/hero */
.hero {
  background-image: url(../img/hero-bg-06.jpg);
}

.mass-media {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #101010;
  text-align: center;
}

.mass-media__title {
  font-family: "Stem";
  font-weight: normal;
  font-size: 45px;
  line-height: 58px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 43px;
}

.mass-media__link {
  display: inline-block;
  font-family: "Stem";
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  text-decoration: none;
  color: #ffffff;
  padding: 16px 35px 16px 78px;
  border-radius: 4px;
  background: #1E5DC5 url(../img/envelope-ico.svg) no-repeat 30px center;
}

.news {
  padding-top: 100px;
  padding-bottom: 100px;
}

.news__wrapper {
  max-width: 1262px;
  padding: 0 15px;
  margin: 0 auto;
}

.news__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px;
}

.news__item:last-child {
  margin-bottom: 0;
}

.news__description {
  width: 65%;
}

.news__img {
  border-radius: 9px;
}

.news__date {
  display: block;
  font-family: "Stem";
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #A9A9A9;
  margin-bottom: 11px;
}

.news__title {
  font-family: "Stem";
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  margin-bottom: 11px;
}

.news__text {
  font-family: "Stem";
  font-weight: normal;
  font-size: 16px;
  line-height: 170.6%;
  color: #000000;
  margin: 0;
}

/* Start blocks/advisory */
.advisory {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #292929 url(../img/form-bg.jpg) no-repeat;
  background-position: center 0;
  background-size: cover;
}

.advisory__wrapper {
  max-width: 1292px;
  padding: 0 15px;
  margin: 0 auto;
}

.advisory__title {
  font-family: "Stem";
  font-weight: normal;
  font-size: 32px;
  line-height: 41px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 25px;
}

.advisory__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.advisory__item {
  width: 22%;
}

.advisory__item--answ {
  width: 30%;
}

.advisory__label {
  display: block;
  font-family: "Stem";
  font-weight: bold;
  font-size: 14px;
  line-height: 180%;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-bottom: 12px;
}

.advisory__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Stem";
  font-weight: normal;
  font-size: 16px;
  line-height: 180%;
  color: #ffffff;
  width: 100%;
  height: 64px;
  border: 0;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.1);
  /* при возможности заменить */
  -webkit-backdrop-filter: blur(42px);
          backdrop-filter: blur(42px);
  padding: 10px 30px;
}

.advisory__input::-webkit-input-placeholder {
  color: #BEBACA;
}

.advisory__input:-ms-input-placeholder {
  color: #BEBACA;
}

.advisory__input::-ms-input-placeholder {
  color: #BEBACA;
}

.advisory__input::placeholder {
  color: #BEBACA;
}
