@charset "UTF-8";
@font-face {
  font-family: 'Stem';
  src: url("../fonts/Stem-Light.woff2") format("woff2"), url("../fonts/Stem-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Stem';
  src: url("../fonts/Stem-Regular.woff2") format("woff2"), url("../fonts/Stem-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stem';
  src: url("../fonts/Stem-Medium.woff2") format("woff2"), url("../fonts/Stem-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Stem';
  src: url("../fonts/Stem-Bold.woff2") format("woff2"), url("../fonts/Stem-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

.button {
  width: 272px;
  height: 64px;
  font-family: "Stem";
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #ffffff;
  background-color: #1E5DC5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover, .button:focus, .button:active {
  opacity: 0.7;
}

.button--two {
  background-color: #00D2A0;
}

/* Start blocks/hero */
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 550px;
  background-image: url(../../img/hero-bg/index-hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
}

.hero__wrapper {
  width: 1262px;
  padding: 0 30px;
}

.hero__title {
  font-family: "Stem";
  font-weight: bold;
  font-size: 48px;
  line-height: 110%;
  color: #ffffff;
  margin: 0;
  margin-bottom: 30px;
}

.hero__title-color {
  color: #217bff;
}

.hero__subtitle {
  font-family: "Stem";
  font-weight: normal;
  font-size: 22px;
  line-height: 150%;
  color: #ffffff;
  margin: 0;
  margin-bottom: 30px;
}

.hero__button {
  margin-right: 20px;
}

.hero--client {
  background-image: url(../../img/hero-bg/client-hero-bg.jpg);
}

.hero--parthner {
  background-image: url(../../img/hero-bg/parthner-hero-bg.jpg);
}

/* Correct blocks/hero */
.hero {
  background-image: url(../img/hero-bg-06.jpg);
}

.mass-media {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #101010;
  text-align: center;
}

.mass-media__title {
  font-family: "Stem";
  font-weight: normal;
  font-size: 45px;
  line-height: 58px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 43px;
}

.mass-media__link {
  display: inline-block;
  font-family: "Stem";
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  text-decoration: none;
  color: #ffffff;
  padding: 16px 35px 16px 78px;
  border-radius: 4px;
  background: #1E5DC5 url(../img/envelope-ico.svg) no-repeat 30px center;
}

.news {
  padding-top: 100px;
  padding-bottom: 100px;
}

.news__wrapper {
  max-width: 1262px;
  padding: 0 15px;
  margin: 0 auto;
}

.news__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px;
}

.news__item:last-child {
  margin-bottom: 0;
}

.news__description {
  width: 65%;
}

.news__img {
  border-radius: 9px;
}

.news__date {
  display: block;
  font-family: "Stem";
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #A9A9A9;
  margin-bottom: 11px;
}

.news__title {
  font-family: "Stem";
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  margin-bottom: 11px;
}

.news__text {
  font-family: "Stem";
  font-weight: normal;
  font-size: 16px;
  line-height: 170.6%;
  color: #000000;
  margin: 0;
}

/* Start blocks/advisory */
.advisory {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #292929 url(../img/form-bg.jpg) no-repeat;
  background-position: center 0;
  background-size: cover;
}

.advisory__wrapper {
  max-width: 1292px;
  padding: 0 15px;
  margin: 0 auto;
}

.advisory__title {
  font-family: "Stem";
  font-weight: normal;
  font-size: 32px;
  line-height: 41px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 25px;
}

.advisory__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.advisory__item {
  width: 22%;
}

.advisory__item--answ {
  width: 30%;
}

.advisory__label {
  display: block;
  font-family: "Stem";
  font-weight: bold;
  font-size: 14px;
  line-height: 180%;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-bottom: 12px;
}

.advisory__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Stem";
  font-weight: normal;
  font-size: 16px;
  line-height: 180%;
  color: #ffffff;
  width: 100%;
  height: 64px;
  border: 0;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.1);
  /* при возможности заменить */
  -webkit-backdrop-filter: blur(42px);
          backdrop-filter: blur(42px);
  padding: 10px 30px;
}

.advisory__input::-webkit-input-placeholder {
  color: #BEBACA;
}

.advisory__input:-ms-input-placeholder {
  color: #BEBACA;
}

.advisory__input::-ms-input-placeholder {
  color: #BEBACA;
}

.advisory__input::placeholder {
  color: #BEBACA;
}
