#stepProgressBar {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   width: 280px;
   margin: 0 auto;
   list-style: none;
}

.step {
   text-align: center;
}

.step-subtext {
   margin-top: 10px;
   text-transform: uppercase;
   color: #7d7d7d;
   font-size: 12px;
}

.bullet {
   border: 1px solid #2780eb;
   height: 40px;
   width: 40px;
   border-radius: 100%;
   color: #2780eb;
   display: inline-block;
   position: relative;
   transition: background-color 500ms;
   line-height: 40px;
}

.bullet.completed {
   color: white;
   background-color: #2780eb;
}

.bullet:after {
   content: '';
   position: absolute;
   right: -100px;
   bottom: 20px;
   height: 1px;
   width: 100px;
   background-color: #2780eb;
}

#bullet:after {
   content: none;
}