// Colors
@import "colors";
// Fonts
@import "fonts";
// Scafold
@import "scaffold";
// Interface
@import "interface";

/* Start blocks/header */
@import "blocks/header";

/* Start blocks/hero */
@import "blocks/hero";
/* Correct blocks/hero */

.wrapper {
    max-width: 1262px;
    margin: 0 auto;
}

.kind-tech {
    padding-top: 100px;
    padding-bottom: 64px;

    &__title {
        text-align: center;
        margin-bottom: 46px;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 22px;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__item {
        display: flex;
        align-items: center;
    }
    &__icon {
        flex: 0 0 73px;
        height: 46px;
        @include medium;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        border-radius: 4px;
        background-color: $prime-color;
        color: #ffffff;
        padding: 11px 6px 12px 6px;
    }
    &__body {
        padding-left: 12px;
        &-title {
            @include medium;
            font-size: 28px;
            line-height: 36px;
            color: #000000;
            margin: 0;
            margin-bottom: 6px;
        }
        &-desc {
            @include regular;
            font-size: 18px;
            line-height: 23px;
            text-transform: uppercase;
            color: #828282;
            margin: 0;

        }
    }
}

.area-app {
    padding-top: 81px;
    padding-bottom: 90px;
    background-color: $dark-bg;
    color: #ffffff;
    &__title {
        @include regular;
        font-size: 45px;
        line-height: 58px;
        text-align: center;
        margin: 0;
        margin-bottom: 68px;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 22px;
        grid-row-gap: 72px;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__item {
        padding-top: 86px;
        @include medium;
        font-size: 28px;
        line-height: 36px;
        text-align: center;
        &--arch {
            background: url(../img/area-app-icons/arch-ico.svg) no-repeat center top;
        }
        &--art {
            background: url(../img/area-app-icons/art-ico.svg) no-repeat center top;
        }
        &--construction {
            background: url(../img/area-app-icons/construction-ico.svg) no-repeat center top;
        }
        &--dentistry {
            background: url(../img/area-app-icons/dentistry-ico.svg) no-repeat center top;
        }
        &--design {
            background: url(../img/area-app-icons/design-ico.svg) no-repeat center top;
        }
        &--education {
            background: url(../img/area-app-icons/education-ico.svg) no-repeat center top;
        }
        &--fashion {
            background: url(../img/area-app-icons/fashion-ico.svg) no-repeat center top;
        }
        &--industry {
            background: url(../img/area-app-icons/industry-ico.svg) no-repeat center top;
        }
        &--jewelry {
            background: url(../img/area-app-icons/jewelry-ico.svg) no-repeat center top;
        }
        &--medicine {
            background: url(../img/area-app-icons/medicine-ico.svg) no-repeat center top;
        }
        &--metal-big {
            background: url(../img/area-app-icons/metal-big-ico.svg) no-repeat center top;
        }
        &--prototype {
            background: url(../img/area-app-icons/prototype-ico.svg) no-repeat center top;
        }
        &--repair {
            background: url(../img/area-app-icons/repair-ico.svg) no-repeat center top;
        }
        &--science {
            background: url(../img/area-app-icons/science-ico.svg) no-repeat center top;
        }
        &--telecom {
            background: url(../img/area-app-icons/telecom-ico.svg) no-repeat center top;
        }
        
    }

}

.tech-param {
    padding-top: 100px;
    padding-bottom: 100px;
    &__title {
        margin-bottom: 59px;
        text-align: center;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 22px;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-bottom: 60px;
        &--four {
            grid-template-columns: repeat(4, 1fr);
        }
    }
    &__item {
        padding-top: 89px;
        text-align: center;
        @include regular;
        font-size: 18px;
        line-height: 23px;
        text-transform: uppercase;
        color: #828282;
        &--one {
            background: url(../img/tech-param-icons/speed-ico.svg) no-repeat center top;
        }
        &--two {
            background: url(../img/tech-param-icons/ruler-ico.svg) no-repeat center top;
        }
        &--three {
            background: url(../img/tech-param-icons/thermometer-ico.svg) no-repeat center top;
        }
        &--four {
            background: url(../img/tech-param-icons/snow-ico.svg) no-repeat center top;
        }
        &--five {
            background: url(../img/tech-param-icons/goal-ico.svg) no-repeat center top;
        }
        &-digit {
            display: block;
            @include medium;
            font-size: 32px;
            line-height: 41px;
            text-transform: none;
            color: #000000;
            margin-bottom: 5px;
        }
    }
}

.parameters {
    &__list {
        
        margin: 0;
        padding: 0;
        //padding-left: 110px;
        list-style: none;
    
    }
    &__item {
        border-top: 1px solid #D8D8D8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 110px;
        min-height: 155px;
        &:last-child {
            border-bottom: 1px solid #D8D8D8; 
        }
        &--mat {
            background: url(../img/material-ico.svg) no-repeat left center;
        }
        &--area {
            background: url(../img/area-ico.svg) no-repeat left center;
        }

    }
    &__title {
        @include regular;
        font-size: 18px;
        line-height: 23px;
        text-transform: uppercase;
        color: #828282;
        margin: 0;
        margin-bottom: 10px;
    }
    &__text {
        @include regular;
        font-size: 28px;
        line-height: 36px;
        margin: 0;
    }
}

.select-map {
    padding-top: 128px;
    padding-bottom: 128px;
    background-color: $dark-bg;
    color: #ffffff;
    &__title {
        @include regular;
        font-size: 45px;
        line-height: 58px;
        text-align: center;
        margin: 0;
        margin-bottom: 41px;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 22px;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__number {
        display: block;
        @include bold;
        font-size: 46px;
        line-height: 59px;
        color: $prime-color;
        margin-bottom: 10px;
    }
    &__text {
        @include regular;
        font-size: 22px;
        line-height: 170.3%;
        margin: 0;
        margin-bottom: 21px;
    }
    &__link {
        @include medium;
        font-size: 24px;
        line-height: 31px;
        text-decoration: none;
        color: $prime-color;
    }
    
}
.second-color {
    color: $second-color;
}

.print-tech {
    padding-top: 100px;
    padding-bottom: 100px;
    &__title {
        text-align: center;
        margin-bottom: 47px;
    }
    &__box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 22px;
        margin-bottom: 100px;

    }
    &__list {
        color: #000000;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__item {
        margin-bottom: 30px;
    }
    &__number {
        display: block;
        @include bold;
        font-size: 46px;
        line-height: 59px;
        color: $prime-color;
        margin-bottom: 10px;
    }
    &__text {
        @include regular;
        font-size: 16px;
        line-height: 170.3%;
        margin: 0;
    }
}
.second-color {
    color: $second-color;
}
.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 18px;
    max-width: 1044px;
    margin: 0 auto;
    &__title {
        @include medium;
        font-size: 28px;
        line-height: 36px;
        margin: 0;
        margin-bottom: 36px;
        padding-left: 48px;
        background: url(../img/medal-ico.svg) no-repeat 0 0;
        &--two {
            background: url(../img/featiures-minus-ico.svg) no-repeat 0 0;
        }
    }
    &__list {
        list-style: none;
        background: #F8FAFF;
        border-radius: 12px;
        padding: 49px 80px 50px 85px;
        margin: 0;
        &--two {
            background: #F7FDFB;
        }
    }
    &__item {
        @include regular;
        font-size: 18px;
        line-height: 23px;
        margin: 0 0 36px 0;
        &:last-child {
            margin-bottom: 0;
        }
    }
}



/* Start blocks/advisory */
@import "blocks/advisory";
/* Start blocks/footer */
@import "blocks/footer";