
// Colors
@import "colors";
// Fonts
@import "fonts";
// Interface
@import "interface";


/* Start blocks/navbar */
@import "blocks/navbar";
/* Start blocks/hero */
@import "blocks/hero";
/* Correct blocks/hero */
.hero {
    background-image: url(../img/intro-bg-03.jpg);
}

.standard {
    padding-top: 100px;
    &__wrapper {
        max-width: 1262px;
        margin: 0 auto;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__item {
        width: 24%;
        
        border: 1px solid gold;
        
        &--one {
            background: url(../img/warr-ico-01.svg) no-repeat center top;
        }
        &--two {
            background: url(../img/warr-ico-02.svg) no-repeat center top;
        }
        &--three {
            background: url(../img/warr-ico-03.svg) no-repeat center top;
        }
        &--four {
            background: url(../img/warr-ico-04.svg) no-repeat center top;
        }
    }
    &__text {
        @include medium;
        font-size: 22px;
        line-height: 28px;
        text-align: center;
        color: #000000;
        padding-top: 97px;
        margin: 0;
    }
}

/* Start blocks/edtimation */
@import "blocks/estimation";

/* Start blocks/advisory */
@import "blocks/advisory";