/* Start description */
.description {
    padding-top: 100px;
    padding-bottom: 100px;
  
    &__wrapper {
        background: url(../img/3Dprinter.svg) no-repeat 100% 50%;
    }
    &__box {
        width: 74%;
    }
    &__title {
        @include medium;
        font-size: 28px;
        line-height: 36px;
        color: #000000;
        margin: 0;
        margin-bottom: 17px;
    }
    &__subtitle {
        @include medium;
        font-size: 20px;
        line-height: 140.3%;
        color: #000000;
        opacity: 0.7;
        margin: 0;
        margin-bottom: 24px;
    }
    &__text {
        @include light;
        font-size: 16px;
        line-height: 135.3%;
        color: #000000;
        opacity: 0.7;
        margin: 0;

        &--margin {
            margin-bottom: 10px;
        }
    }
}
@media (max-width: 960px) {
    .description {
        padding-top: 0;
        padding-bottom: 50px;
    }
    .description__wrapper {
        padding-top: 223px;
        background-position: 50% 0;
        background-size: 272px auto;
    }
    .description__box {
        width: 100%;
    }
    .description__title {
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 9px;
    }
    .description__subtitle {
        font-size: 16px;
        line-height: 22px;
    }
}
    
  /* End description */

/* Start blocks/slogan */
@import "../blocks/slogan";

/* Correct blocks/slogan */
.slogan__title--about {
    font-size: 32px;
    line-height: 152.9%;
}

@media (max-width: 960px) {
    .slogan__title--about {
        font-size: 22px;
        line-height: 34px;
    }
}

/* Start resume */
.resume {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #ffffff;

    &__wrapper {
        max-width: 1262px;
        padding: 0 15px;
        margin: 0 auto;
        text-align: center;
    }
    &__title {
        @include regular;
        font-size: 45px;
        line-height: 58px;
        color: #000000;
        margin: 0;
        margin-bottom: 40px;
    }
    
    &__text {
        max-width: 1048px;
        @include regular;
        font-size: 18px;
        line-height: 170.3%;
        color: #000000;
        margin: 0 auto;
        margin-bottom: 40px;      
    }            
}

@media (max-width: 960px) {
    .resume {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .resume__title {
        @include mob-title;
        margin-bottom: 22px;
    }
}
/* End resume */

/* Start facts */
.facts {
    padding-top: 86px;
    padding-bottom: 86px;
    background-color: $dark-bg;

    &__wrapper {
        max-width: 1086px;
        padding: 0 15px;
        margin: 0 auto;
    }
      
    &__title {
        font-weight: 500;
        font-size: 22px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        margin: 0;
        margin-bottom: 57px;    
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 240px);
        grid-column-gap: 32px;
        grid-row-gap: 42px;

        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__item {
        background-repeat: no-repeat;
        background-position: 0 0;
        &--one {
            background-image: url(../img/facts-icons/facts-ico-01.svg);
        }
        &--two {
            background-image: url(../img/facts-icons/facts-ico-02.svg);
        }
        &--three {
            background-image: url(../img/facts-icons/facts-ico-03.svg);
        }
        &--four {
            background-image: url(../img/facts-icons/facts-ico-04.svg);
        }

        &--five {
            background-image: url(../img/facts-icons/facts-ico-05.svg);
        }

        &--six {
            background-image: url(../img/facts-icons/facts-ico-06.svg);
        }

        &--seven {
            background-image: url(../img/facts-icons/facts-ico-07.svg);
        }

        &--eight {
            background-image: url(../img/facts-icons/facts-ico-08.svg);
        }
    }
    
    &__text {
        @include medium;
        font-size: 20px;
        line-height: 100%;
        color: #ffffff;
        padding-left: 64px;
        margin: 0;
    }

    &__digit {
        display: block;
        @include medium;
        font-size: 40px;
        line-height: 100%;
        color: $prime-color;
        
        &--mod {
            color: $second-color;
        }
    }
}

@media (max-width: 1100px) {
    .facts {
        padding-top: 38px;
        padding-bottom: 38px;
    }
    .facts__wrapper {
        max-width: 532px;

    }
    .facts__title {
        margin-bottom: 38px;
        
    }
    .facts__list {
        grid-template-columns: repeat(2, 240px);
        grid-column-gap: 22px;
        grid-row-gap: 38px;

       
    }
}


@media (max-width: 560px) {
    .facts__list {
        display: block;
        max-width: 220px;
        margin: 0 auto;
    }
    .facts__item {
        margin-bottom: 38px;
        &:last-child {
            margin: 0;
        }
    }
}
/* End facts */

/* Start values */
.values {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #ffffff;

    &__wrapper {
        max-width: 1292px;
        margin: 0 auto;
        padding: 0 15px;
    
    }
    
    &__title {
        @include regular;
        font-size: 45px;
        line-height: 58px;
        color: #000000;
        text-align: center;
        margin: 0;
        margin-bottom: 68px;
    }
    
    &__list {
        display: flex;
        padding: 0;
        list-style: none;
    }
    
    &__item {
        flex: 0 1 33.333;
        padding-top: 108px;
        background-repeat: no-repeat;
        background-position: 0 0;
        margin-right: 22px;
        &:last-child {
            margin: 0;
        }

        &--one {
            background-image: url(../img/values-ico-01.svg);
        }
        &--two {
            background-image: url(../img/values-ico-02.svg);
        }
        &--three {
            background-image: url(../img/values-ico-03.svg);
        }

        &-title {
            @include medium;
            font-size: 22px;
            line-height: 28px;
            color: #000000;
            margin: 0;
            margin-bottom: 9px;
        }
        
        &-desc {
            @include light;
            font-size: 18px;
            line-height: 23px;
            color: #000000;
            opacity: 0.7;
            margin: 0;
        }   
    }
}
@media (max-width: 1020px) {
    .values {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .values__title {
        @include mob-title;
        margin-bottom: 30px;
    }
    .values__list {
        display: block;
        text-align: center;
    }
    .values__item {
        padding-top: 97px;
        background-position: center top;
        margin-bottom: 30px;
        &:last-child {
            margin: 0;
        }
    }
    .values__item-title {
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 10px;
    }

}

