
.contact-us {
    padding-top: 100px;
    padding-bottom: 100px;
    background: url(../img/contacts/contacts-bg.jpg) no-repeat right bottom;
}
.contact-us__title {
    text-align: center;
    margin: 0 0 52px 0;
}
.contact-us__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 22px;
    margin-bottom: 100px;
}
.contact-us__wrap {
    display: flex;
}
.contact-us__item {
    margin-bottom: 22px;
}
.contact-us__item--wrap {
    flex: 1 1 auto;
    margin-right: 22px;
    &:last-child {
        margin-right: 0;
    }
}.contact-us__item--four {
    margin-bottom: 44px;
}
.contact-us__label {
    display: block;
    @include bold;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    margin: 0 0 12px 0;
}
.contact-us__input {
    padding: 17px 30px;
    @include regular;
    font-size: 16px;
    line-height: 29px;
    width: 100%;
    height: 64px;
    border: none;
    background: #F4F6FA;
    border-radius: 4px;
    &::placeholder {
        color: #B8BDC6;
    }
}
.contact-us__button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
@media (max-width: 960px) {
    .contact-us__body {
        display: block;
        max-width: 640px;
        margin: 0 auto;
   }
   .contact-us__button {
       margin-bottom: 50px;
   }
}

@media (max-width: 640px) {
    .contact-us {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .contact-us__title {
        @include mob-title;
        margin-bottom: 17px;
    }
   
   .contact-us__map {
       margin-bottom: 30px;
   }
   .contact-us__wrap {
       display: block;
       
   }
   .contact-us__item--wrap {
        margin-right: 0;
   }
}



// Contacts
.contacts__title {
    margin: 0 0 54px 0;

}
.contacts__wrap {
    display: flex;
}
.contacts__text {
    margin: 0 0 45px 0;
    padding-left: 54px;
    
}
.contacts__text--marker {
    margin-right: 83px;
    position: relative;
    &::before {
        content: url(../img/contacts/marker-ico.svg);
        position: absolute;
        top: -5px;
        left: 0;
    }
}
.contacts__text--mail {
    
    position: relative;
    &::before {
        content: url(../img/contacts/mail-ico.svg);
        position: absolute;
        top: -5px;
        left: 0;
    }
}
.contacts__text--phone {
    position: relative;
    &::before {
        content: url(../img/contacts/phone-ico.svg);
        position: absolute;
        top: -5px;
        left: 0;
    }
}
@media (max-width: 640px) {
    .contacts__title {
        @include mob-title;
        margin-bottom: 30px;
    
    }
    .contacts__wrap {
        display: block;
    }
    .contact__text {
        margin-bottom: 30px;

    }
    .contacts__text--marker {
        margin-right: 0;
    }
    .contacts__text--phone {
        margin-bottom: 0;
    }
}

