.title-lc {
   font-weight: 500;
   font-size: 18px;
   line-height: 23px;
   color: #000000;
}

.lc-button {
   height: 48px;
   font-weight: 500;
   font-size: 18px;
   line-height: 48px;
   border-radius: 4px;
   color: #ffffff;
   background-color: #1E5DC5;
   width: 200px;
}

.lc-button--center {
   position: relative;
   left: 50%;
   transform: translateX(-50%);
}

.card-button-lc {
   display: block;
   height: 48px;
   max-width: 200px;
   font-weight: 500;
   font-size: 18px;
   line-height: 48px;
   text-align: center;
   border-radius: 4px;
   color: #ffffff;
   background-color: #1E5DC5;
   margin: 0 auto;
}


/* Start lc-main */

.lc-main {
   
   display: flex;
   min-height: 100vh;
}
.lc-main-page {
   position: relative;
   flex: 1 1 auto;
   background-color: #F0F4FA;
   padding: 22px;
}