
.privacy {
    padding-top: 100px;
    padding-bottom: 100px;
    &__wrapper {
        max-width: 1262px;
        margin: 0 auto;
    }
    &__title {
        @include regular;
        font-size: 45px;
        line-height: 58px;
        color: #000000;
        margin: 0;
        margin-bottom: 26px;
    }
    &__text {
        @include regular;
        font-size: 18px;
        line-height: 170.3%;
        color: rgba(0,0,0, 0.7);
        margin: 0;
        margin-bottom: 31px;
        &:last-child {
            margin-bottom: 34px;
        }    
    }
    &__link {
        @include medium;
        color: $hero-text;
        text-decoration: underline;
    }
    
}
@media (max-width: 640px) {
    .privacy {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .privacy__title {
        @include mob-title;
        margin-bottom: 20px;
        text-align: center;
    }
    .privacy__text {
        @include plain-text;
        text-align: center;
    }

}

.server-block {
    display: flex;

    &__text-box {
        flex: 1 1 50%;
        order: 1;

    }
    &__title {
        @include medium;
        font-size: 28px;
        line-height: 36px;
        color: #000000;
        margin: 0;
        margin-bottom: 18px;
    }
    &__text {
        @include regular;
        font-size: 18px;
        line-height: 170.3%;
        color: rgba(0,0,0, 0.7);
        margin: 0;
        margin-bottom: 18px;
        &:last-child {
            margin: 0;
        }
    }
    &__picture {
        flex: 1 1 50%;
        order: 2;
        img {
            border-radius: 8px;


        }
    }
}
@media (max-width: 640px) {
    .server-block {
        display: block;
    }
    .server-block__text-box {
        width: 100%;
    }
    .server-block__title {
        @include mob-title;
        margin-bottom: 8px;
        text-align: center;
    }
    .server-block__text {
        @include plain-text;
        text-align: center;
    }
    .server-block__picture {
        width: 100%;
    }
    
}
