
.roi-calc {
    position: absolute;
    top: 134px;
    right: 5%;
    max-width: 727px;
    min-height: 423px;
    border-radius: 8px;
    color: #ffffff;
    background: rgba(14, 5, 44, 0.29);
    backdrop-filter: blur(104px); // по возможности заменить
    padding: 59px 53px 56px 53px;
}
.roi-calc__title {
    @include bold;
    font-size: 22px;
    line-height: 25px;
    margin: 0 0 25px 0;
}
.roi-calc__desc {
    @include regular;
    font-size: 18px;
    line-height: 25px;
    color: #B9B9B9;
    margin: 0 0 27px 0;
}
.roi-calc__list {
    display: flex;
    margin-bottom: 21px;
}
.roi-calc__item {
    flex: 1 1 auto;
    margin-right: 22px;
    &:last-child {
        margin-right: 0;
    }
}
.roi-calc__label {
    display: block;
    @include bold;
    font-size: 14px;
    line-height: 180%;
    text-transform: uppercase;
    margin: 0 0 12px 0;
}
.roi-calc__input {
    padding: 30px 17px;
    @include bold;
    font-size: 16px;
    line-height: 180%;
    color: #ffffff;
    width: 100%;
    height: 64px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    &::placeholder {
        color: #B9B9B9;
    }
}

.roi-calc__button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: $second-color;   
}
// @media (max-width: 1330px) {
//     .roi-calc {
//         max-width: 406px;
//     }
//     .roi-calc__list {
//         display: block;
        
//     }
//     .roi-calc__item {
//         margin: 0  0 16px 0;
//     }
// }




.promo {
    background-color: $dark-bg;
    min-height: 326px;
    text-align: center;
    padding: 71px 30px;

    &__title {
        @include regular;
        font-size: 45px;
        line-height: 58px;
        color: #ffffff;
        margin: 0;
        margin-bottom: 0px;
    }
    &__text {
        @include regular;
        font-size: 18px;
        line-height: 25px;
        color: #ffffff;
        margin: 0;
    }
    &__value {
        display: block;
        @include medium;
        font-size: 65px;
        line-height: 150%;
        color: $prime-color;

        &-sign {
            @include regular;
            font-size: 30px;
            line-height: 39px;
        }
    }
}

.saving {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #ffffff;
    &__title {
        @include regular;
        font-size: 45px;
        line-height: 58px;
        text-align: center;
        color: #000000;
        margin: 0;
        margin-bottom: 40px;
        &--mod {
            padding-top: 140px;
        }
    }
    &__list {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-column-gap: 22px;
    }
    &__item {
        // background: gold;
        &-title {
            @include medium;
            font-size: 22px;
            line-height: 100%;
            color: #000000;
            margin: 15px;
        }
        &-desc {
            @include light;
            font-size: 16px;
            line-height: 170%;
            margin: 12px;
        }
        &-text {
            @include light;
            font-size: 18px;
            line-height: 190%;
            color: #000000;
            margin: 0;
        }
    }
    &__bar {
        position: relative;
        width: 100%;
        height: 16px;
        background-color: #e7e7e7;
        border-radius: 4px;
        &-bar{
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 16px;
            border-radius: 4px;
            background-color: $prime-color;
            &--mod {
                background-color: $second-color;
            }
        }
    }
    &__bold {
        @include bold;
        font-size: 18px;
        line-height: 100%;
        color: $prime-color;
        &-mod {
            color: $second-color;
        }
        
    }
    &__box {
        display: grid;
        grid-template-columns: 192px 2fr;
        grid-column-gap: 22px;
        margin-bottom: 30px;
        &-text {
            @include regular;
            font-size: 16px;
            line-height: 190%;
            color: #000000;
            margin: 0;
            // background: orange;
        }
        &-value {
            display: block;
            @include medium;
            font-size: 34px;
            line-height: 100%;
            color: $prime-color;

            &-mod {
                color: $second-color;
            }
        }
    }
}
