.advantages {
  padding: 100px 0 100px 0;
  background-color: #101010;
  
  
  &__title {
    @include regular;
    font-size: 45px;
    line-height: 58px;
    text-align: center;
    color: #ffffff;
    margin: 0;
    margin-bottom: 24px;
  }
  &__subtitle {
    @include regular;
    font-size: 17px;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    opacity: 0.6;
    margin: 0;
    margin-bottom: 64px;
    
  }
  
  &__list {
  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 22px;
    grid-row-gap: 32px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  &__item {
    padding-top: 93px;
    background-repeat: no-repeat;
    background-position: 0 0;
    

    &-time {
      background-image: url(../img/advantages-icons/advtg-ico-01.svg);
    }
    &-answers {
      background-image: url(../img/advantages-icons/advtg-ico-02.svg);
    }
    &-save {
      background-image: url(../img/advantages-icons/advtg-ico-03.svg);
    }
    &-service {
      background-image: url(../img/advantages-icons/advtg-ico-04.svg);
    }
    &-price {
      background-image: url(../img/advantages-icons/advtg-ico-05.svg);
    }
    &-contact {
      background-image: url(../img/advantages-icons/advtg-ico-06.svg);
    }
  }
  
  &__item-title {
    @include medium;
    font-size: 28px;
    line-height: 36px;
    color: #ffffff;
    margin: 0;
    margin-bottom: 12px;
  }
  &__item-desc {
    @include light;
    font-size: 16px;
    line-height: 21px;
    color: rgba(255,255,255, 0.7);
    margin: 0;
  }
}
@media (max-width: 768px) {
  .advantages__list {
    display: flex;
    flex-direction: column;
  }
  .advantages__item {
    margin-bottom: 30px;
    &-time {
      order: 1;
    }
    &-answers {
      order: 2;
    }
    &-service {
      order: 3;
    }
    &-save {
      order: 4;
    }
    &-price {
      order: 5;
    }
    &-contact {
      order: 6;
      margin-bottom: 0;
    }
  }

}

@media (max-width: 640px) {
  .advantages {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .advantages__title {
    font-size: 23px;
    line-height: 30px;
    text-align: left;
    margin-bottom: 6px;
  }
  .advantages__subtitle {
    font-size: 12px;
    line-height: 15px;
    text-align: left;
    margin-bottom: 30px;
  }
  

  .advantages__item-title {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 16px;
  }
}