.advisory {
    padding-top: 80px;
    padding-bottom: 80px;
    background: #292929 url(../img/form-bg.jpg) no-repeat;
    background-position: center 0;
    background-size: cover;
}
 
.advisory__title {
    @include regular;
    font-size: 32px;
    line-height: 41px;
    color: #ffffff;
    margin: 0;
    margin-bottom: 25px;
}
.advisory__form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
.advisory__item {
    flex: 1 1 22%;
    margin-right: 2%;
  }
.advisory__item--answ {
    flex: 1 1 30%;
}
  
.advisory__label {
    display: block;
    @include bold;
    font-size: 14px;
    line-height: 180%;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
    margin-bottom: 12px;
  }
  
.advisory__input {
    box-sizing: border-box;
    @include regular;
    font-size: 16px;
    line-height: 180%;
    color: #ffffff;
    width: 100%;
    height: 64px;
    border: 0;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.1);
    /* при возможности заменить */
    backdrop-filter: blur(42px);
    padding: 10px 30px;

    &::placeholder {
        color: #BEBACA;
    }
    
}
@media (max-width: 1200px) {
  .advisory__title {
    text-align: center;
  }
  .advisory__form {
    display: block;
    text-align: center;
  }
  .advisory__form {
    max-width: 600px;
    margin: 0 auto;
  }
  .advisory__item {
    margin: 0 0 16px 0;
    max-width: 100%;
    &--answ {
      margin-bottom: 40px;
    }
  .advisory__label {
    text-align: left;
  }
  }

}
@media (max-width: 640px) {
  .advisory {
    padding-top: 35px;
    padding-bottom: 40px;
  }

    
 
  .advisory__title {
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 16px;
  }
 
  
  
}