.page-footer {
    background-color: $dark-bg;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffffff;
    &__body {
        display: flex;
        flex-wrap: no-wrap;
        justify-content: space-between;
    }
    &__logo {
        display: block;
        margin-bottom: 20px;
    }
    p {
        @include light;
        font-size: 14px;
        line-height: 17px;
        color: #828282;
        margin: 0;
        margin-bottom: 16px;
    }
    p>a {
        color: #828282;
    }
}

.footer-nav__list span {
    display: block;
    @include bold;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 16px 0;
    color: #828282;
}

.footer-nav__list,
.footer-nav__sub-list {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 16px;
        :last-child {
            margin-bottom: 0;
        }
    }
    a {
        @include light;
        color: #828282;
        text-decoration: none;
        //transition: color .3s ease-in-out;
        &:hover,
        &:focus,
        &:active {
            color: $hero-text;
        }
        span {
            @include bold;
        }
    }
    
}
.footer-nav__list {
    margin-left: 2%;
}

.social-icons {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0 0 ;
    padding: 0;
    li {
        margin: 0;
    }
    &__facebook svg:hover,
    &__facebook svg:focus,
    &__facebook svg:active {
        fill: #3c5a96;
    }
    &__telegram svg:hover,
    &__telegram svg:focus,
    &__telegram svg:active {
        fill: #30a5e0;
    }
    &__youtube svg:hover,
    &__youtube svg:focus,
    &__youtube svg:active {
        fill: #fc0d1b;
    }
    &__linkedin svg:hover,
    &__linkedin svg:focus,
    &__linkedin svg:active {
        fill: #1178b3;
    }
}
.social__link {
    display: inline-block;
    width: 34px;
    height: 34px;
    //margin: 0 1rem 0 0;
    // vertical-align: middle;
    // font-size: 22px;
    // line-height: 44px;
    // text-align: center;
    // color: #fff;
    border-radius: 24%;
    border: 1px solid #828282;

}
.social__link--facebook {
    background: url(../../img/facebook-ico-3.svg) no-repeat center;
    background-size: 30px auto;
}
.social__link--facebook:hover,
.social__link--facebook:focus,
.social__link--facebook:active {
    background-color: #3c5a96;
}
.social__link--telegram {
    background: url(../../img/telegram-ico-3.svg) no-repeat center;
    background-size: 30px auto;
}
.social__link--telegram:hover,
.social__link--telegram:focus,
.social__link--telegram:active {
    background-color: #30a5e0;
}
.social__link--youtube {
    background: url(../../img/youtube-ico-3.svg) no-repeat center;
    background-size: 30px auto;
}
.social__link--youtube:hover,
.social__link--youtube:focus,
.social__link--youtube:active {
    background-color: #fc0d1b;
}
.social__link--linkedin {
    background: url(../../img/linkedin-ico-3.svg) no-repeat center;
    background-size: 30px auto;
}
.social__link--linkedin:hover,
.social__link--linkedin:focus,
.social__link--linkedin:active {
    background-color: #1178b3;
}


@media (max-width: 560px) {
    .page-footer__body {
        display: block;
    }
    
}