.page-footer {
    background-color: $dark-bg;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffffff;
    &__body {
        display: flex;
        flex-wrap: no-wrap;
        justify-content: space-between;
    }
    &__logo {
        display: block;
        margin-bottom: 20px;
    }
    p {
        @include light;
        font-size: 14px;
        line-height: 17px;
        color: #828282;
        margin: 0;
        margin-bottom: 16px;
    }
    p>a {
        color: #828282;
    }
}

.footer-nav__list span {
    display: block;
    @include bold;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 16px 0;
    color: #828282;
}

.footer-nav__list,
.footer-nav__sub-list {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 16px;
        :last-child {
            margin-bottom: 0;
        }
    }
    a {
        @include light;
        color: #828282;
        text-decoration: none;
        //transition: color .3s ease-in-out;
        &:hover,
        &:focus,
        &:active {
            color: $hero-text;
        }
        span {
            @include bold;
        }
    }
    
}
.footer-nav__list {
    margin-left: 2%;
}

.social-icons {
    max-width: 200px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0 0 ;
    padding: 0;
    li {
        margin: 0;
        flex: 0 0 34px;
    }
    
}
.social__link {
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 24%;
    transition: all 0.3s ease 0;
    border: 1px solid #828282;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 30px auto;
}

.social__link--facebook {
    background-image: url(../img/facebook-ico-3.svg);
    &:hover,
    &:focus,
    &:active {
        background-color: #3c5a96;
    }
}
.social__link--telegram {
    background-image: url(../img/telegram-ico-3.svg);
    &:hover,
    &:focus,
    &:active {
        background-color: #30a5e0;
    }
}
.social__link--youtube {
    background-image: url(../img/youtube-ico-3.svg);
    &:hover,
    &:focus,
    &:active {
        background-color: #fc0d1b;
    }
}

.social__link--linkedin {
    background-image: url(../img/linkedin-ico-3.svg);
    &:hover,
    &:focus,
    &:active {
        background-color: #1178b3;
    }
}


@media (max-width: 760px) {
    .page-footer__body {
        display: block;
    }
   
    
}