// Header 26/05/2020
.container {
    max-width: 1292px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    z-index: 2;
}

.header__body {
    //position: relative;
    display: flex;
    justify-content: space-between;
    height: 71px;
    align-items: center;
}
.header__menu {
    flex: 1 1 auto;
}

.header__logo {
    position: relative;
    z-index: 3;
    margin-right: 50px;
}

.header__logo img {
    display: block;
}

.header__burger {
    display: none;
}

.header__list {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__list a {
    text-decoration: none;
    @include regular;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    cursor: pointer;
    &:hover,
    &:focus
    &:active {
        color: $hero-text;
    }
}
.main-nav__item>a {
    display: block;
    width: auto;
    
}

.main-nav__item {
    position: relative;
}
.main-nav__sub-list {
    display: none;
    
    width: 240px;
    position: absolute;
    top: 44px;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    a {
        display: block;
        padding: 10px 20px;
        background-color: #1e1e1e;
        border-bottom: 1px solid #2f2f2f;
        
    }
}

 .drop-btn::after {
     content: url(../img/arrow-down-ico.svg);
     margin: 0 0 0 10px; 
 }

 .drop-btn.active::after {
    content: url(../img/arrow-up-ico.svg);   
 }

.user-list__login {
    padding-left: 24px;
    
}
.user-list__login::before {
    content: url(../img/user-menu-ico.svg);
    position: absolute;
    top: 0;
    left: 0;
}
.main-nav__item-social {
    display: none;
}


@media (max-width: 1180px) {
    .header {
        position: absolute;
    }
    .header__body {
        height: 60px;
    }
    .header__logo {
        position: relative;
        z-index: 3;
        //margin: 0 auto;
    }
    
    .header__logo img {
        display: block;
        max-width: none;
        width: auto;
        height: 60px;
    }

    .header__burger {
        position: relative;
        z-index: 3;
        display: block;
        width: 18px;
        height: 18px;
        background: url(../img/burger-ico.svg) no-repeat 0 0;
    }
    
    .header__burger.active {
        background: url(../img/close-ico.svg) no-repeat 0 0;
    }
    .header__menu {
        position: absolute;
        left: 0px;
        top: 0;
        width: 100%;
        min-height: 100vh;

        background-color: #000000;
        padding: 70px 12px 100px 12px;
        display: none;
        
    }
    .header__list {
        display: block;
    }
    .header__list li {
        margin: 0 0 0 0;
    }
    .header__list a {
        @include light;
        font-size: 18px;
        display: block;
        padding: 26px 0 25px 0;
        //background: #000000;
        border-bottom: 1px solid #151515;
    }
    .main-nav__sub-list {
        width: auto;
        position: static;
        
    }

    .main-nav__sub-list a {
        background-color: #000000;
        padding-left: 30px;
    }
    
    .user-list__login::before {
        display: none;
    }
    
}

.active {
  display: block;
}
