.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
    background-color: #101633;
    background-image: url(../img/hero-bg/index-hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    &__wrapper {
        width: 1262px;
        padding: 0 30px;   
    }
    &__title {
        @include bold;
        font-size: 48px;
        line-height: 110%;
        color: #ffffff;
        margin: 0;
        margin-bottom: 30px;
    }
    &__title-color {
        color: $hero-text;
    }
    &__subtitle {
        @include regular;
        font-size: 22px;
        line-height: 150%;
        color: #ffffff;
        margin: 0;
        margin-bottom: 30px;
    }
    &__button {
        margin-right: 20px;
    }

}
.hero--client {
    background-image: url(../img/hero-bg/client-hero-bg.jpg);
}
.hero--parthner {
    background-image: url(../img/hero-bg/parthner-hero-bg.jpg);
}
.hero--knowbase {
    background-image: url(../img/hero-bg/knowbase-hero-bg.jpg);
}
.hero--engineer {
    background-image: url(../img/hero-bg/engineer-hero-bg.jpg);
}
.hero--api {
    background-image: url(../img/hero-bg/api-hero-bg.jpg);
}
.hero--student {
    background-image: url(../img/hero-bg/student-hero-bg.jpg);
}
.hero--legal {
    background-image: url(../img/hero-bg/legal-hero-bg.jpg);
}

