.knowbase {
    padding: 100px 0;
    &__title {
        text-align: center;
        margin: 0 0 10px 0;

    }
    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 22px;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__item {
        padding: 44px 20px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0px 2px 17px rgba(0, 0, 0, 0.06);
    }
    &__number {
        display: block;
        @include bold;
        font-size: 31px;
        line-height: 40px;
        margin: 0 0 18px 0;
        
    }
    &__subtitle {
        @include medium;
        font-size: 28px;
        line-height: 36px;
        margin: 0 0 18px 0;
    }
    &__text {
        @include light;
        font-size: 19px;
        line-height: 25px;
        opacity: 0.7;
        margin: 0 0 18px 0;
    }
    &__text b {
        @include medium;
        font-size: 19px;
        line-height: 25px;
        margin: 0 0 0px 0;
    }
    &__text span {
        @include regular;
        color: $prime-color;
    }
    &__link {
        @include medium;
        font-size: 18px;
        line-height: 23px;
        text-decoration: none;
    }
    &__picture {
        margin: 20px 0;
    }
}
.knowbase__table {
    width: 100%;
    border-collapse: collapse; 
    box-shadow: 0px 14px 54px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    background: #ffffff; 
    margin-bottom: 30px;
    tbody {
    @include regular;
    font-size: 18px;
    line-height: 23px;
    }
    tr:nth-child(2n) {
        background: #F7FBFA;
    }
    td {
    padding: 23px 16px; 
    }       
}


@media (max-width: 640px) {
    .knowbase {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .knowbase__title {
        @include mob-title;
        margin-bottom: 22px;
    }
    .knowbase__list {
        display: block;
    }
    .knowbase__item {
        padding: 32px 12px;
        margin-bottom: 16px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .knowbase__number {
        margin-bottom: 10px;
    }
    .knowbase__subtitle {
        @include mob-subtitle;
        margin-bottom: 10px;
    }
    .knowbase__text {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 10px;
    }

}