@import "logo";
.navbar {
    background-color: #000000;
}
.main-nav {
    max-width: 1262px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    &__logo {
        margin-right: 50px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        a {
            display: block;
            @include regular;
            font-size: 14px;
            line-height: 17px;
            color: #ffffff;
            cursor: pointer;
            text-decoration: none;
            &:hover,
            &:focus,
            &:active {
                color: $hero-text;
            }
        }
    }
    &__item {
        position: relative;
    }
    
}

.header__burger {
    display: block;
}
@media (max-width: 1060px) {
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
        background: red;

        span {
            background-color: #ffffff;
            position: absolute;
            left: 0;
            top: 9px;
            width: 100%;
            height: 2px;
    
        }
        
        &::before, &::after {
            content: '';
            background-color: #fff;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all 0.3s ease 0s;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        &.active:before {
            transform: rotate(45deg);
            top: 9px;
        }
        &.active::after {
            transform: rotate(-45deg);
            bottom: 9px;
        }
        &.active span {
            transform: scale(0);
        }

        
    }
    .main-nav__list {
        display: none;
    }
}
.main-nav__sub-item {
    display: none;
    background-color: #212121;
    width: 200px;
    position: absolute;
    top: 42px;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    a {
        display: block;
        padding: 10px;
        
    }
}

.block__text {
    display: none;
}
.active {
    display: block;
}
.drop-btn {
    padding-left: 24px;
}
.drop-btn::after,
.drop-btn::before {
    position: absolute;
    top: 9px;
    content: '';
    width: 10px;
    height: 1px;
    background-color: #ffffff;
    transition: all 0.3s ease 0s;

}

.drop-btn::before {
    transform: rotate(40deg);
    left: 0;
}
.drop-btn::after {
    transform: rotate(-40deg);
    left: 7px;
}
.drop-btn.active::before {
    transform: rotate(-40deg);
}
.drop-btn.active::after {
    transform: rotate(40deg);
}