.spec  {
    background-color: black;
    padding-top: 100px;
    padding-bottom: 100px;
  
  &__wrapper {
    max-width: 1078px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  &__title {
    @include regular;
    font-size: 35px;
    line-height: 45px;
    color: #ffffff;
    text-align: center;
    margin: 0;
    margin-bottom: 73px;
  }
  
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  &__item {
    max-width: 335px;
    
    padding-top: 51px;
    padding-bottom: 30px;
    /* background-color: olive; */
    background-repeat: no-repeat;
    background-position: center 0;

    &--avia {
      background-image: url(../img/spec-icons/spec-ico-01.svg);
    }
    &--medicine {
      background-image: url(../img/spec-icons/spec-ico-02.svg);
    }
    &--car {
      background-image: url(../img/spec-icons/spec-ico-03.svg);
    }
    &--electron {
      background-image: url(../img/spec-icons/spec-ico-04.svg);
    }
    &--robot {
      background-image: url(../img/spec-icons/spec-ico-05.svg);
    }
    &--energy {
      background-image: url(../img/spec-icons/spec-ico-06.svg);
    }
    &--machine {
      background-image: url(../img/spec-icons/spec-ico-07.svg);
    }
    &--education {
      background-image: url(../img/spec-icons/spec-ico-08.svg);
    }
    &--goods {
      background-image: url(../img/spec-icons/spec-ico-09.svg);
    }

  }
  
  &__desc {
    @include regular;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    margin: 0;
  }
}

@media (max-width: 640px) {
  .spec {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .spec__list {
    grid-template-columns: 1fr;
  }
  .spec__item {
    max-width: 100%;
  }
  .spec__title {
    font-size: 23px;
    line-height: 30px;
    margin-bottom: 48px;
  }

}
