
// контент страниц Карта выбора материала
.tech-map {
    padding: 100px 0;
    &__title {
        text-align: center;
        margin: 0 0 9px 0;
    }
    &__subtitle {
        @include medium;
        font-size: 22px;
        line-height: 28px;
        text-transform: uppercase;
        text-align: center;
        color:#878787;
        margin: 0 0 40px 0;
    }
}