.workflow {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;

  &__wrapper {
    max-width: 1078px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__title {
    @include regular;
    font-size: 45px;
    line-height: 58px;
    text-align: center;
    color: #000000;
    margin: 0;
    margin-bottom: 24px;
  }
  
  &__subtitle {
    @include regular;
    font-size: 17px;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    opacity: 0.5;
    margin: 0;
    margin-bottom: 77px;
  }
  &__box {
    width: 67%;
    &--right {
      margin-left: auto;
    }
  }
  &__item {
    max-width: 900px;
    min-height: 200px;
    margin-bottom: 80px;
    &:last-child {
      margin-bottom: 0;
    }
    &--one {
    background: url(../img/workflow-ico-01.svg) no-repeat right top;
    }
    &--two {
      margin-left: auto;
      background: url(../img/workflow-ico-02.svg) no-repeat left top;
    }
    &--three {
      background: url(../img/workflow-ico-03.svg) no-repeat right top;
    }
    &--four {
      margin-left: auto;
      background: url(../img/workflow-ico-04.svg) no-repeat left top;
    }
  }
  
  &__item-title {
    @include bold;
    font-size: 31px;
    line-height: 40px;
    color: $prime-color;
    margin: 0;
    margin-bottom: 18px;
    &--mod {
      color: $second-color;
    }
  }
  
  &__item-subtitle {
    @include medium;
    font-size: 28px;
    line-height: 36px;
    color: #000000;
    margin: 0;
    margin-bottom: 18px;
  }
  
  &__item-desc {
    @include light;
    font-size: 19px;
    line-height: 25px;
    color: #000000;
    opacity: 0.7;
  }
}

@media (max-width: 640px) {
  .workflow {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .workflow__title {
    font-size: 23px;
    line-height: 30px;
    margin-bottom: 6px;
  }
  .workflow__subtitle {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 30px;
  }
  .workflow__box {
    width: 100%;
    
  }
  .workflow__item {
    padding-top: 90px;
    max-width: 100%;
    min-height: 200px;
    text-align: center;
    margin-bottom: 30px;
    background-position: center top;
    background-size: 70px auto;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .workflow__item-title {
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 10px;
  }
  .workflow__item-subtitle {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 10px;
  }
  
  .workflow__item-desc {
    font-size: 16px;
    line-height: 24px;
    
  }
    
}
